.myCell {
    background-color: #E4CB9C;
    float: left;
    height: 50px;
    width: 50px;
    border: solid 1px black;
}

.myCell:hover {
	border: solid 1px blue;
}

.myRow{
	clear:both;
}

#errorDiv{
	clear:both;
}

#nextPlayerDiv{
    clear:both;
}