body{
	 background-image:url('../images/checkersBG.jpg');
	 background-size:cover;
	 background-attachment:fixed;
	 margin-top: 0px;
	 margin-left:0px;
	 margin-right:0px;
	 margin-bottom:0px;
	 font-family: 'ABeeZee', sans-serif;
}

h1{
	text-align:center;
	font-family: 'Shadows Into Light', cursive;
}

h2{
    text-align:center;
    font-family: 'Shadows Into Light', cursive;
}

img{
	width:100%;
}

.margin-top-75{
	margin-top:75px;
}

.contentContainer{
	padding-top:25px;
	padding-bottom:25px;
	padding-left:10px;
	padding-right:10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:white;
	margin-bottom:20px;
}

.myWarning{
	color:white;
	background-color:red;
	padding:5px;
}

.turnIconContainer{
    margin-top: 25px;
}

.turnIcon{
	width:50px;
	height: 50px;
    margin: auto;
	border:3px black solid;
	-webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.navbar-inverse .navbar-brand{
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 25px;
}
.navbar-inverse .navbar-brand:hover{
	color:#D0B997;
}

.myCell {
    background-color: #E4CB9C;
    float: left;
    border: solid 1px black;
}

.myCell:hover {
	border: solid 1px blue;
}

.field{
	padding-left:0px;
	padding-right:0px;
	width:100%;
	height:100%;
}

.myRow{
	clear:both;
}

.navbar-inverse .navbar-nav > li > a{
	color:white;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color:#D0B997;
}

#errorDiv{
	clear:both;
	font-size:20px;
	position: relative;
    top: 25px;
}

#nextPlayerDiv{
    clear:both;
    font-size:20px;
}

#moveCountDiv{
	font-size:20px;
}

div.Even span.Even {
    background-color: #b89d77;
}

div.Odd span.Odd {
    background-color: #b89d77;
}

@media only screen and ( max-width: 436px ){
    .myCell {
       
    }
}