@main("Welcome to checkers") {

<div>
    <h1>Welcome to checkers</h1>
</div>

<div class="margin-top-75">
    <p>
		Checkers or draughts is the name of several different board games. All of these games are similar. In every kind of checkers, the other player's pieces can be taken by being "jumped" over.
		"Checkers" is the American name. In British English, and in various other English-speaking nations, these games are called "draughts."
		The rules and championships are controlled by the World Draughts Federation.
    </p>
    <p>
        Checkers dates back to the 12th century, in France. Later, maybe in 1535, a new rule was added: when a player can jump, he must jump. No single inventor is known for this ancient game, although Arthur L. Samuel was the first to create a checkers computer game in 1952. 
    </p>
</div>

<div class="col-xs-6 text-center margin-top-75">
    <a href="/rules" class="btn btn-default">Rules</a>
</div>
<div class="col-xs-6 text-center margin-top-75">
    <a href="/play" class="btn btn-default">Play</a>
</div>

}
