@(data: List[List[String]], size: Int, nextPlayer: String, error: String)

@main("Play the game") {

    <div class="col-md-6">
        <div class="field" id="field">
            @for((row, rId) <- data.zipWithIndex) {
	        <div class="myRow @if(rId%2==0) {Even} else {Odd}" id="myRow-@rId">
	            @for((cell, cId) <- row.zipWithIndex) {
	            <span class="myCell @if(cId%2==0) {Even} else {Odd}" id = "myCell-@rId-@cId" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:@{100/size}%;height:@{100/size}%" >
	                @if(cell==" x ") {
	                <img src="@routes.Assets.at("images/blackFigure.png")" alt='x' class="blackFigure" id="blackFigure-@rId-@cId" draggable="true" ondragstart="drag(event)">
	                }
	                @if(cell==" X ") {
	                <img src="@routes.Assets.at("images/blackFigureCrowened.png")" alt='X' class="blackFigureCrowened" id="blackFigureCrowened-@rId-@cId" draggable="true" ondragstart="drag(event)">
	                }
	                @if(cell==" o ") {
	                <img src="@routes.Assets.at("images/whiteFigure.png")" alt='o' class="whiteFigure" id="whiteFigure-@rId-@cId" draggable="true" ondragstart="drag(event)">
	                }
	                @if(cell==" O ") {
	                <img src="@routes.Assets.at("images/whiteFigureCrowened.png")" alt='O' class="whiteFigureCrowened" id="whiteFigureCrowened-@rId-@cId" draggable="true" ondragstart="drag(event)">
	                }
	                @if(cell=="") {
                    <img src="@routes.Assets.at("images/dummy.png")" alt='O' class="whiteFigureCrowened" id="whiteFigureCrowened-@rId-@cId" draggable="true" ondragstart="drag(event)">
                    }
	            </span>
	            }
	        </div>
            }
        </div>
    </div>
    <div class="gameMessages col-md-6 text-center">
        <div id="nextPlayerDiv">
            <p>Next Player: @nextPlayer</p>
            <div class=" text-center turnIconContainer">
	            @if(nextPlayer=="Black") {
	                <div class="turnIcon" style="background-color:black"></div>
	            }
	            @if(nextPlayer=="White") {
	                <div class="turnIcon" style="background-color:white"></div>
	            }
	        </div>
        </div>
        @if(!error.isEmpty) {
        <div id="errorDiv" >
            <p class="myWarning">Error: @error</p>        
        </div>
        }
    </div>

}
